/* - - - - Main Structural Pieces - - - -*/
html,body, #container{
    height:100%;
    width: 100%;
    overflow: hidden;
}
body {
    display: block
}

#map {
    position: absolute;
    width: 66%;
    height: 100%;
    min-height: 500px;
}

#sidebar {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 66%;
}


/* - - - - - Map Elements - - - - */
.stops {
    z-index: 1000;
}

/* - - - -Sidebar Elements - - - -*/

.shift-left {
    padding-left: 5%;
}

.center-div {
    width: 90%;
    margin: 0 auto
}

.center-text {
    text-align: center;
}

#title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

#od-title {
    margin-top: 10px;
    text-decoration: underline;
}

#od-text {
    height: 60px;
}


/* - - - - Chart Elements - - - -*/

#chart-container {
    margin-left: 16%;
    margin-right: 10%;
    margin-top: 5%;
}

.bars {
    fill: #3498DB
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axis text {
    font: 14px sans-serif;
    color: grey;
    fill: grey
}

